absl-py==0.15.0
astor==0.7.1
certifi==2020.6.20
cloudpickle==1.6.0
cycler==0.10.0
dask==2.6.0
decorator==5.1.1
ecdsa==0.17.0
gast==0.5.3
grpcio==1.12.1
h5py==2.8.0
imageio==2.9.0
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==3.0.0
networkx==2.4
numpy==1.14.2
olefile==0.46
paramiko==1.18.4
Pillow==5.2.0
protobuf==3.6.0
pycrypto==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.0.0
PyYAML==3.13
scikit-image==0.14.0
scikit-learn==0.20.0
scipy==1.1.0
six==1.16.0
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
toolz==0.11.2
tornado==5.1.1
Werkzeug==1.0.1
wincertstore==0.2
